.container{
    display: grid;
    grid-template-columns: 300px 300px ;
    grid-template-rows: 100px 800px 200px;
    margin: 20px;
    grid-template-areas: 
    "hd hd "
    "main main"
    "ft ft";
}
.main{
    grid-area: main;
    
}