:root {
    --primary-color: #69acfc;
    --secondary-color: rgb(104, 102, 102);
    --background-color: #fff;
    --footer-background: #f9f9f9;
    --footer-text: #a2a2a2;
    --light-gray:rgb(249, 245, 245);
    --border-color:
}